
*, *:before, *:after {
  box-sizing: border-box;
}

.location:hover {
  background-color: grey;
}

body {
  /* background-color: #00000; */
  background-color: #F5F5DC;
  font-size: 16px;
  font-family: sans-serif;

}

.container{
  margin: 0 auto;
  padding: 5%;
  width: 100%;
}

.restaurant-list{
  margin: 0 auto;
  width: 60%;
}

.location{
  display: flex;
  justify-content: space-between;
  padding: 5% 0;
}


 h1 {
  font-weight: bold;
}


/*
nav {
  margin: 5px;
 padding: 0 0 5px 15px;
} */

/* .arrow-left{
 background-color: black;
  */
