
*, *:before, *:after {
  box-sizing: border-box;
}

.location:hover {
  background-color: grey;
}

body {
  /* background-color: #00000; */
  background-color: #696969;
  font-size: 16px;
  font-family: sans-serif;

}

.container{
  margin: 0 auto;
  width: 100%;
}

.arrow-left{
  background-color: #000000;
  margin: 0 auto;
  width: 70%;
  padding: 3%;
}

.restaurant-list{
  background-color: #D3D3D3;
  margin: 0 auto;
  padding: 0%;
  width: 70%;
}

.location{
  display: flex;
  justify-content: space-between;
  padding: 5% 5%;
  border-bottom: 1px solid #696969;
}


 h1 {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 3%;
}


/*
nav {
  margin: 5px;
 padding: 0 0 5px 15px;
} */

/* .arrow-left{
 background-color: black;
  */
